<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>			

<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">
		<div class="content">
			<div class="current_room">
				<div role="application" aria-label="호텔룸현황" class="hotel_room">
					<div>
						<div class="room_info" style="padding:0px 13px;">
							<table class="room_type">
								<tr>
									<th class ="type_name" style="width:70px;"></th>
									<td class="type_name" style="width:280px;">
										<small>스탠다드</small>
									</td>
									<td class="type_name" style="width:140px;">
										<small>이그제큐티브</small>
									</td>
									<td class="type_name" style="width:140px;">
										<small>스위트</small>
									</td>
								</tr>
							</table>
						</div>

						<div class="_box1" role="region" tableindex="-1">
							<div class="_box2">
								<div class="_box3" data-visible="true" style="padding:0px 13px;">
									<table class="_room" role="presentation">
										<tbody id="_tableBody">
											<% var i = 0; %>
											
											<% if (data) {%>
											<% data.forEach(function(room) { %>
												
											<%  if(i % 8 == 0) { %>
											<tr >
												<th class="floor" style="width:70px;height:70px;"><%= room.floor %>F</th>
											<% }  %>
													<% var color = "bookable";%>
													<% reserved.forEach(function(reserve) { %>
													<% if (room.number == reserve.number) { %>
														<% if (room.clean && room.linen && room.amenity) { %>
														<%     color = "c_done"; %>
														<% } else { %>
														<%     color = "c_n" %>
														<% } %>
													<%  } %>
												<% }); %>
												<td class="<%=color%>" id="<%=room.number%>" role="button" tabindex="0" style="width:70px;height:70px;" >
												<%=room.number%>호</br></td>
												
									<div id="<%= room.number %>" class="modal">
										<div class="modal-content">
											<div class="modal-title">

												<span class="close">&times;</span>
												<h2>Housekeeing State</h2>
											</div>
											<div class="checklist">
												<form action="/rooms/edit/<%= room.number %>" method="post" name="form1" >
													Room Number
													<input type="text" name="number" value="<%= room.number %>" />
													floor
													<input type="text" name="floor" value="<%= room.floor %>" />
													</br>
													Clean
													<input type="checkbox" name="clean" value="true"  <%= room.clean ? "checked" : "" %> />
													linen
													<input type="checkbox" name="linen" value="true"  <%= room.linen ? "checked" : "" %> />
													amenity
													<input type="checkbox" name="amenity" value="true"  <%= room.amenity ? "checked" : "" %> />
													</br>
													order_take
													<input type="text" name="order_take" value="<%= room.order_take %>" />
													</br>
													
													<input type="hidden" name="_method" value="PUT" />
													<span><button id="confirm">확인</button></span>
												</form>
											
												

											</div>
											<div>
												
											</div>
										</div>

									</div>


												

												
												<% if (i % 8 == 7) { %>
													</tr>
												<% } %>
												<% i = i + 1 %>
												<%});%>
												<% } %>
												
												<script>$("td").click(function(event){modalSet();})</script>
										</tbody>
									</table>
									
								

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<a href="/rooms/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ADD</a>


	




<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
