<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>
<h1 style='text-align:center; margin-top: 35px;margin-bottom:5;'>실시간 객실 정보</h1>

<!-- Main -->
<section id="main" class="wrapper" style="padding-top: 20px;">
	<div class="inner">
		<div class="content">
			<div class="current_room">
				<div role="application" aria-label="호텔룸현황" class="hotel_room">
					<style>
						input[type=text], input[type=password]{
							width: 200px;
							height: 30px;
							border: 2px solid #aaa;
							border-radius: 4px;
							margin: 3px 0;
							outline: none;
							padding: 8px;
							box-sizing: border-box;
						}
						input[type=text]:focus, input[type=password]:focus{
							border-color: dodgerBlue;
							box-shadow: 0 0 8px 0 dodgerBlue;
						}
						#what{
							-webkit-appearance: none;
							appearance: none;
							width: 240px;
							height: 32px;
							padding: .3em .5em;
							background-color: white;
							margin-bottom: 5px;
						}
					</style>
					<div>
						<div class="room_info" style="padding:0px 13px;">
							<table class="room_type">
								<tr>
									<th class ="type_name" style="width:70px;"></th>
									<td class="type_name" style="width:280px;">
										<small>스탠다드</small>
									</td>
									<td class="type_name" style="width:140px;">
										<small>이그제큐티브</small>
									</td>
									<td class="type_name" style="width:140px;">
										<small>스위트</small>
									</td>
								</tr>
							</table>
						</div>

						<div class="_box1" role="region" tableindex="-1">
							<div class="_box2">
								<div class="_box3" data-visible="true" style="padding:0px 13px;">
									<table class="_room" role="presentation">
										<tbody id="_tableBody">
											<% var i = 0; %>

											<% if (data) {%>
											<% data.forEach(function(room) { %>

											<%  if(i % 8 == 0) { %>
											<tr >
												<th class="floor" style="width:70px;height:70px;"><%= room.floor %>F</th>
											<% }  %>
													<% var color = "bookable"; var customer_id = ""; var customer_name = "";%>
													<% reserved.forEach(function(reserve) { %>
													<% if (room.number == reserve.number) { %>
														<% customer_id = reserve.id; customer_name = reserve.name; %>
														<% if (room.clean && room.linen && room.amenity) { %>
														<%     color = "c_done"; %>
														<% } else { %>
														<%     color = "c_n" %>
														<% } %>
													<%  } %>
												<% }); %>
												<% var matched_staff = ""; var matched_staff_id="";%>
												<% tasks.forEach(function(task) {%>
													<%if (room.number == task.number){ %>
													<%	matched_staff = task.name;matched_staff_id = task.id; %>
													<%	 %>
													<%} %>
												<%}) %>
												<td class="<%=color%>" id="<%=room.number%>" role="button" tabindex="0" style="width:70px;height:70px;" >
												<%=room.number%>호<br></br><%=matched_staff%><br></br><%=room.order_take%></td>

									<div id="<%= room.number %>" class="modal">
										<div class="modal-content">
											<div class="modal-title">

												<!-- <span class="close">&times;</span> -->
												<h2><%= room.number %>호</h2>
											</div>
											<div class="checklist">
												<form action="/rooms/edit/<%= room.number %>" method="post" name="form1" >
													<!-- <table> -->
													<p style="font-size: 18px;">
													STAFF
															<select id="what" name="id" style="margin-left: 50px; font-size: 15px;">
														<option value="No Staff" selected>No Staff</option>
														<% if (staffs) { %>
															<% staffs.forEach(function(staff){ %>
																<option value='<%= staff.id %>' <% if (staff.id == matched_staff_id) { %>selected
																<% } %>> <%= staff.name%> <%= staff.gender %> <%= staff.birth %></option>
															<% }) %>
														<% } %>
													</select>
													</p>
													<p style="font-size: 18px;">
															Customer
													<a href="/customers/edit/<%=customer_id%>"style="text-decoration: none;color:#C32AF9; margin-left: 30px;"><%=customer_name%></a>
													</p>
													<p>
													Clean
													<input type="checkbox" name="clean" value="true"  <%= room.clean ? "checked" : "" %> />
													</p>
													<p>
													Bedding
													<input type="checkbox" name="linen" value="true"  <%= room.linen ? "checked" : "" %> />
												</p>
												<p>
												Amenity
													<input type="checkbox" name="amenity" value="true"  <%= room.amenity ? "checked" : "" %> />
												</p>
												<p>
													Order
													<input type="text" name="order_take" value="<%= room.order_take %>" style="margin-left: 60px;"/>
												</p>	<!-- </table> -->
													<input type="hidden" name="_method" value="PUT" />
													<span style="float: right;"><button id="confirm">확인</button></span>
												</form>



											</div>
											<div>

											</div>
										</div>

									</div>





												<% if (i % 8 == 7) { %>
													</tr>
												<% } %>
												<% i = i + 1 %>
												<%});%>
												<% } %>

												<script>$("td").click(function(event){modalSet();})</script>
										</tbody>
									</table>



								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<p>views/rooms/list.ejs</p>




<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
