<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>
<section id="main" class="wrapper">
	<div class="inner">
		<div class="content">
		<select id="what">
							<option value = 1>Code</option>
							<option value = 2>Room</option>
							<option value = 3>Customer</option>
							<option value = 4>Reserve Date</option>
							<option value = 5>In Date</option>
							<option value = 6>Out Date</option>
						</select>
			<span class='green_window'>
						
						
			<input id="keyword" type="text10" class='input_text10' name="search" /></span>
			<input type="button" class='sch_smit' value="검색" />
					
						
			<h1 style='text-align:center;'>예약 목록</h1>

			<table id="user-table" width='80%' border=0>
				<tbody>
				<thead>
				<tr style='text-align:left; background-color:#333; color:#fff;'>
					<td>Code</td>
					<td>Room Number</td>
					<td>Customer Name</td>
					<td>Reserve Date</td>
					<td>In Date</td>
					<td>Out Date</td>
					<td>CheckIn</td>
					<td>CheckOut</td>
					<td>Edit</td>
				</tr>
				</thead>

	<% if (data) { %>
	<% data.forEach(function(reserve){ %>
				<tr>
					<td><%=reserve.code %></td>
					<td><%= reserve.number %></td>
					<td><a href='/customers/edit/<%=reserve.id %>'><%= reserve.name %></a></td>
					<td><%= reserve.reservedate %></td>
					<td><%= reserve.indate %></td>
					<td><%= reserve.outdate %></td>
					<td><input id="opt1" type="checkbox" name="check1" <%= reserve.checkIn ? "checked" : "" %> /></td>
					<td><input id="opt1" type="checkbox" name="check2" <%= reserve.checkOut ? "checked" : "" %> /></td>

					<td>
						<div style="float:left">
							<a href='/reservations/edit/<%= reserve.code %>'>Edit</a> &nbsp;
							
						</div>
					</td>
				</tr>
	<% }) %>
	<% } %>
<tbody>
			</table>

			<a href="/reservations/check" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ADD</a>
		</div>
	</div>
</section>
<script type="text/javascript">
$(document).ready(function() {
	$("#keyword").keyup(function() {
		var n = document.getElementById("what");
		var m = n.options[n.selectedIndex].value
		
		var k = $(this).val();
		console.log(k)
		$("#user-table > tbody > tr").hide();
		var temp = $("#user-table > tbody > tr > td:nth-child(5n+"+m+"):contains('" + k + "')");


		$(temp).parent().show();
	})
})
</script>
<p>views/reservations/list.ejs</p>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
