<!--
including header content which is common for all pages
-->
<%- include ../layouts_user/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<section id="main" class="wrapper">
	<div class="inner">
		<div class="content">
			<h1 style='text-align:center;'>예약 목록</h1>

			<table width='80%' border=0>

				<tr style='text-align:left; background-color:#333; color:#fff;'>
					<td>Code</td>
					<td>Room Number</td>
					<td>Customer Name</td>
					<td>Reserve Date</td>
					<td>In Date</td>
					<td>Out Date</td>
					
					<td>Delete</td>
				</tr>

	<% if (data) { %>
	<% data.forEach(function(reserve){ %>
				<tr>
					<td><%=reserve.code %></td>
					<td><%= reserve.number %></td>
					<td><a href='/customers/edit/<%=reserve.id %>'><%= reserve.name %></a></td>
					<td><%= reserve.reservedate %></td>
					<td><%= reserve.indate %></td>
					<td><%= reserve.outdate %></td>
					

					<td>
						<div style="float:left">
							
							<form method="post" action="/reservations/delete/<%= reserve.code %>" style="float:right">
								<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
								<input type="hidden" name="_method" value="DELETE" />
							</form>
						</div>
					</td>
				</tr>
	<% }) %>
	<% } %>

			</table>
			

		</div>
	</div>
</section>
<p>views/reservations/list_user.ejs</p>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
