<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>Room Number</th>
		<th>Room Type</th>
		<th>Room Price</th>
	</tr>
	
	<% if (data) { %>
	<% data.forEach(function(room){ %>
		<tr>
			<td><%= room.number %></td>
			<td><%= room.type %></td>
			<td><%= room.price %>$</td>
	
			<td>
				<div style="float:left">
					<a href='/rooms/edit/<%= room.number %>'>Edit</a> &nbsp;							
					<form method="post" action="/rooms/delete/<%= room.number %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>



<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
