<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/staffs/edit/<%= id %>" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>ID</td>
			<td><input type="text" name="id" value="<%= id %>" /></td>
		</tr>
		<tr> 
			<td>PASSWORD</td>
			<td><input type="text" name="password" value="<%= password %>" /></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td><input type="text" name="gender" value="<%= gender %>" /></td>
		</tr>
		<tr>
			<td>Birth</td>
			<td><input type="date" name="birth" value="<%= birth %>" /></td>
		</tr>
		<tr>
			<td><input type="submit" name="Submit" value="Edit" /></td>
		</tr>
	</table>
	<input type="hidden" name="_method" value="PUT" />
</form>

<form method="post" action="/staffs/delete/<%= id %>" >
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
