<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>ID</th>
		<th>Name</th>
		<th>Car</th>
		<th>Nation</th>
		<th>Phone</th>
		<th>Email</th>
	</tr>
	
	<!--
		Using FOREACH LOOP for the users array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
	<% if (data) { %>
	<% data.forEach(function(customer){ %>
		<tr>
			<td><%= customer.id %></td>
			<td><%= customer.name %></td>
			<td><%= customer.car %></td>
			<td><%= customer.nation %></td>
			<td><%= customer.phone %></td>
			<td><%= customer.email %></td>
			<td>
				<div style="float:left">
					<a href='/customers/edit/<%= customer.id %>'>Edit</a> &nbsp;							
					<form method="post" action="/customers/delete/<%= customer.id %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>
<a href="/customers/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ADD</a>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
